output.cardRanking#rankingPorPais
    .card-inner
        header.d-flex.align-items-center.justify-content-center
            h2.titulo_card_ranking Mejores jugadores de tu país
        ol.lista_ranking
            each jugador in jugadores
                li.texto_ranking.d-flex.align-items-center.justify-content-between
                    p= jugador.nombre
                    p= jugador.puntuacion + " puntos"