output.cardRanking#rankingPorPais
    .card-inner
        header.d-flex.align-items-center.justify-content-center
            h2.titulo_card_ranking Mejores jugadores de tu pais
        ol.lista_ranking
            each punt in puntuaciones
                li.texto_ranking.d-flex.align-items-center.justify-content-between
                    p= "Jugador 1"
                    p= punt + " puntos"
