output.cardPerfil(data-id-usuario=_id)
    .card-inner.d-flex.flex-column.align-items-center.justify-content-between
        .d-flex.flex-column.align-items-center.justify-content-between.mt-4.mb-4
            p Nombre de Usuario
            p.txtDatosPerfil #{nombre}
        .d-flex.flex-column.align-items-center.justify-content-between.mb-4
            p Nacionalidad
            p.txtDatosPerfil #{nacionalidad}
        input(type='button', value='Cerrar sesión', class='botonCerrarSesion', id='butCerrarSesion')

