.cardRanking
    .card-inner
        header.d-flex.align-items-center.justify-content-center
            h2.titulo_card_ranking Tus mejores puntuaciones
        ol.lista_ranking
            li.texto_ranking.d-flex.align-items-center.justify-content-between.ms-3
                p 10000 puntos
