.cardShop(data-id-objeto=_id)
    .card-inner.d-flex.flex-column.align-items-center.justify-content-between
        header
            h2.titulo_card_ranking #{nombre}
        .d-flex.align-items-center.justify-content-center
            img.items(src="../img/shopItems/supersalto.webp", alt="supersalto")
        button.btnComprar#btnComprar Comprar por #{precio}
            img.monedaShop(src="../img/shopItems/monedaShop.webp", alt="moneda")
