output.cardRanking#rankingAmigos
    .card-inner-ranking
        header.d-flex.align-items-center.justify-content-center
            h2.titulo_card_ranking Mejores puntuaciones de amigos
        ol.lista_ranking
            each jugador in jugadores
                li.texto_ranking.d-flex.align-items-center.justify-content-between
                    p= jugador.nombre
                    p= jugador.puntuacion + " puntos"