output.cardUsers#usersList
    .card-inner-users
        header.d-flex.align-items-center.justify-content-center.flex-column.mx-3.mb-3
            h2.titulo_card_users Usuarios
            input.form-control#buscador(type='text' placeholder='Buscar usuario...')
        ul.lista_users
            each usuario in usuarios
                if usuario.nombre !== datosUsuario.nombre && !datosUsuario.amigos.includes(usuario.nombre) && !datosUsuario.solicitudesAmistad.includes(usuario.nombre) && !usuario.solicitudesAmistad.includes(datosUsuario.nombre)
                    li.texto_users.d-flex.align-items-center.justify-content-between
                        p= usuario.nombre
                        button.btn.btn-custom.boton_anadir#boton_anadir ➕

