output.cardPerfil(data-id-usuario=_id)
    .card-inner.d-flex.flex-column.align-items-center.justify-content-between
        .d-flex.flex-column.align-items-center.justify-content-between.mx-4.my-2
            p Email
            p.txtDatosPerfil #{email}
        .d-flex.flex-column.align-items-center.justify-content-between.mx-4.my-2
            p Nombre de Usuario
            p.txtDatosPerfil #{nombre}
        .d-flex.flex-column.align-items-center.justify-content-between.mb-4.mx-4.mt-2
            p Nacionalidad
            p.txtDatosPerfil #{nacionalidad}
        input(type='button', value='Cerrar sesión', class='botonCerrarSesion', id='botonCerrarSesion')

