output.cardSolicitudes#friendRequestsList
    if solicitudes.length > 0
        .d-flex.align-items-center.justify-content-center
            ul.lista_friends
                each solicitud in solicitudes
                    li.texto_friends.d-flex.align-items-center.justify-content-between
                        p= solicitud
                        .d-flex.gap-2
                            button.btn.btn-custom.boton_aceptar#aceptar_solicitud ✅
                            button.btn.btn-custom.boton_rechazar#rechazar_solicitud ❌
    else
        .text-no-solicitudes
            p No tienes solicitudes pendientes.
