/*** PUNTUACIONES ***/
.titulo_card_ranking {
    font-family: 'jackpot', sans-serif;
    font-size: clamp(0.75em, 4vh, 1.25em);
    padding-top: 2em;
    text-align: center;
    line-height: 1.75;
}

.cardRanking {
    width: 27vw;
    height: 60vh;
    border-radius: 15px;
    overflow-y: hidden;
}

.lista_ranking {
    padding: 20px;
    font-family: 'turtles', sans-serif;
    font-size: 1.1em;
}

.texto_ranking {
    font-family: 'turtles', sans-serif;
    font-size: clamp(0.75em, 3vh, 1em);
    padding-bottom: 5px;
    white-space: break-spaces;
}

/*** INFO ***/
.card-outer {
    width: 25vw;
    height: 60vh;
    border-radius: 15px;
    overflow: hidden;
}

.card-inner {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    overflow-y: auto;
    height: 100%;
}

.texto_info {
    padding: 20px;
    font-family: 'turtles', sans-serif;
    font-size: clamp(0.75em, 3vh, 1em);
}

.img_button_rrss {
    width: 4vw;
}

.titulo_card_info {
    font-family: 'jackpot', sans-serif;
    font-size: clamp(0.75em, 4vh, 1.25em);
    padding-top: 2em;
    text-align: center;
    line-height: 1.75;
}

.nombre_card_info {
    padding: 20px;
    font-family: 'turtles', sans-serif;
    font-size: clamp(1em, 4vh, 1.5em);
}

/*** TIENDA ***/
.titulo_shop {
    width: 25vw;
    min-width: 300px;
}

.cardShop {
    width: 23vw;
    height: 60vh;
    border-radius: 15px;
    overflow-y: hidden;
}

.items {
    width: 11.5vw;
    min-width: 100px;
}

.btnComprar,
.botonCerrarSesion {
    width: 90%;
    padding: 10px 30px;
    cursor: pointer;
    margin-bottom: 15px;
    outline: none;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    background-color: lightgreen;
    text-align: center;
    transition: transform 0.3s ease;
    font-family: 'turtles', sans-serif;
    font-size: clamp(0.75em, 3vh, 4em);
}

.monedaShop {
    width: 2.5vw;
    min-width: 40px;
}

.contadorMonedas {
    font-family: 'turtles', sans-serif;
    font-size: clamp(1.75em, 7vw, 3em);
    gap: 5px;
    position: absolute;
    right: 20px;
    top: 25px;
}

.contadorMonedas img {
    width: 8vw;
    max-width: 70px;
    min-width: 40px;
}

/*** PERFIL ***/
.cardPerfil {
    width: 23vw;
    min-width: 300px;
    height: 55vh;
    border-radius: 15px;
    overflow-y: hidden;
    font-family: 'turtles', sans-serif;
    font-size: clamp(1em, 4vh, 1.5em);
}

.txtDatosPerfil {
    font-size: clamp(1.5em, 6vh, 5em);
}