/*GAME OVER MODAL*/
.modal-header {
    padding: 0 !important;
    border-bottom: none !important;
}

.modal-body {
    padding: 0 !important;
}

.modal-footer {
    border-top: none;
}

.modalGameOver {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .4);
    border: none;
    width: 70vw;
    border-radius: 15px;
    max-height: 80vh;
}

.modalPause {
    background-color: rgba(0, 0, 0, .4);
    border: none;
    width: 70vw;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalSettings {
    background-color: rgba(0, 0, 0, .4);
    border: none;
    border-radius: 15px;
    max-height: 80vh;
    width: 50vw;
}

.modalSettings-inner {
    color: white;
    overflow-y: auto;
    border-radius: 15px;
    max-height: 78vh;
    width: 50vw;
}

.row {
    --bs-gutter-x: 0 !important;
}

.botonPausa {
    padding: 5px;
    background: transparent;
    border: none;
    transition: transform 0.3s ease;
    position: absolute;
    right: 15px;
    top: 15px;
}

.botonDisparar {
    background-color: rgba(0, 0, 0, .4);
    padding: 5px;
    border: none;
    transition: transform 0.3s ease;
    position: absolute;
    left: 15px;
    bottom: 40vh;
    border-radius: 25px;
    width: 5vw;
    min-width: 80px;
}

.img_buttonDisparar {
    width: 3vw;
    min-width: 60px;
}

.img_buttonPause {
    width: 4vw;
    min-width: 60px;
}

.textoGameOver {
    font-family: 'turtles', sans-serif;
    color: white;
    font-size: clamp(1.4em, 3vh, 3.5em);
}

.img_button_restart {
    width: 10vw;
    min-width: 100px;
    margin: 10px;
}

.img_buttonGameOver {
    margin: 15px;
    width: 7vw;
}

.titulo_game_over {
    width: 25vw;
}

.img_buttonItem {
    width: 3vw;
    min-width: 60px;
}

.botonx2,
.botonAntiObstaculos,
.botonSuperSalto {
    padding: 5px;
    border: none;
    transition: transform 0.3s ease;
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    height: 8vh;
    min-height: 70px;
    margin-top: 15px;
    border-radius: 25px;
}

.botonItemX2,
.botonItemAntiObstaculos,
.botonItemSuperSalto {
    cursor: pointer;
}

.botonRevivir {
    padding: 5px;
    border: none;
    transition: transform 0.3s ease;
    background-color: rgba(255, 0, 0, .4);
    height: 8vh;
    min-height: 70px;
    border-radius: 25px;
    position: absolute;
    right: 150px;
    bottom: 15px;
}

.botonx2 {
    right: 150px;
}

.botonAntiObstaculos {
    right: 250px;
}

.botonSuperSalto {
    right: 350px;
}

#cantidadPuntuacionx2, #contadorTiempoPuntuacionx2, #cantidadAntiObstaculos, #contadorTiempoAntiObstaculos,
#cantidadSuperSalto, #contadorTiempoSuperSalto, #cantidadRevivir {
    color: white;
    background-color: transparent;
    font-size: clamp(0.5em, 1.5vw, 1em);
    font-family: 'turtles', sans-serif;
}

#contadorTiempoPuntuacionx2, #contadorTiempoAntiObstaculos, #contadorTiempoSuperSalto {
    margin-top: 60px;
}

.contenedor_revivir {
    display: flex;
    position: relative;
}