/*** PUNTUACIONES ***/
.titulo_card_ranking {
    font-family: 'jackpot', sans-serif;
    font-size: clamp(.7em, 1.8vw, 1em);
    padding-top: 2em;
    padding-inline: 1rem;
    text-align: center;
    line-height: 1.75;
}

.cardRanking {
    color: white;
    overflow-y: hidden;
    height: 60vh;
    min-height: 100px;
    width: 22vw;
    border-radius: 15px;
}

.card-inner-ranking {
    width: 22vw;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    overflow-y: auto;
    height: 60vh;
    min-height: 100px;
    border-radius: 15px;
}

.lista_ranking {
    padding: 20px;
    font-family: 'turtles', sans-serif;
    font-size: 1.1em;
}

.texto_ranking {
    font-family: 'turtles', sans-serif;
    font-size: clamp(0.75em, 3vh, 1em);
    padding-bottom: 5px;
    white-space: break-spaces;
}

/*** FRIENDS ***/
.titulo_card_friends {
    font-family: 'jackpot', sans-serif;
    font-size: clamp(0.60em, 3.5vh, 1.1em);
    padding-top: 1.25em;
    padding-right: 1em;
    text-align: center;
    line-height: 1.75;
    color: white;
}

/* Título del chat */
.titulo_card_chat {
    font-family: 'jackpot', sans-serif;
    font-size: clamp(0.60em, 3.5vh, 1.1em);
    padding-top: 1.25em;
    padding-right: 1em;
    text-align: center;
    line-height: 1.75;
    color: white;
}

.card-inner-friends {
    width: 35vw;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    overflow-y: auto;
    height: 60vh;
    min-height: 100px;
    border-radius: 15px;
}

.lista_friends {
    padding: 20px;
    font-family: 'turtles', sans-serif;
    font-size: 1.1em;
}

.texto_friends {
    font-family: 'turtles', sans-serif;
    font-size: clamp(0.75em, 3vh, 1em);
    padding-bottom: 5px;
    white-space: break-spaces;
}

.titulo_card_users {
    font-family: 'jackpot', sans-serif;
    font-size: clamp(0.60em, 3.5vh, 1.1em);
    padding-top: 1.25em;
    text-align: center;
    line-height: 1.75;
    margin-bottom: 1.5em;
}

.form-control {
    font-family: 'turtles', sans-serif !important;
}

@media (max-width: 968px) {
    .form-control {
        font-size: 0.6em;
    }

    .lista_users {
        padding-top: 0 !important;
    }

    .titulo_card_friends {
        margin-top: 0.75em;
        font-size: clamp(0.50em, 2.5vh, 1em);
    }
    .modal-header {
        padding-bottom: 0 !important;
    }
    .lista_friends {
        padding-top: 0 !important;
    }
}

.cardFriends {
    color: white;
    overflow-y: hidden;
    height: 60vh;
    min-height: 100px;
    border-radius: 15px;
    width: 35vw;
}

.cardUsers {
    color: white;
    overflow-y: hidden;
    height: 60vh;
    min-height: 100px;
    border-radius: 15px;
    width: 35vw;
}

.cardChat {
    color: white;
    overflow-y: hidden;
    height: 60vh;
    min-height: 100px;
    border-radius: 15px;
    width: 35vw;
}

.card-inner-chat {
    width: 35vw;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    overflow-y: auto;
    height: 60vh;
    min-height: 100px;
    border-radius: 15px;
}

.card-inner-users {
    width: 35vw;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    overflow-y: auto;
    height: 60vh;
    min-height: 100px;
    border-radius: 15px;
}

.lista_users {
    padding: 20px;
    font-family: 'turtles', sans-serif;
    font-size: 1.1em;
}

.texto_users {
    font-family: 'turtles', sans-serif;
    font-size: clamp(0.75em, 3vh, 1em);
    padding-bottom: 5px;
    white-space: break-spaces;
}


/*** INFO ***/
.card-outer {
    min-width: 30vw;
    height: 60vh;
    min-height: 100px;
    border-radius: 15px;
    overflow: hidden;
}

.card-inner {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    overflow-y: auto;
    height: 60vh;
    min-height: 100px;
    min-width: 30vw;
    border-radius: 15px;
}


.texto_info {
    padding: 20px;
    font-family: 'turtles', sans-serif;
    font-size: clamp(0.75em, 3vh, 1em);
}

.img_button_rrss {
    width: 4vw;
    min-width: 30px;
}

.titulo_card_info {
    font-family: 'jackpot', sans-serif;
    font-size: clamp(0.25em, 2vw, 0.75em);
    padding-top: 2em;
    text-align: center;
    line-height: 1.75;
}

.nombre_card_info {
    padding: 20px;
    font-family: 'turtles', sans-serif;
    font-size: clamp(1em, 4vh, 1.5em);
}

@media (max-width: 1200px) {
    .nombre_card_info {
        padding: 0 !important;
    }

    .titulo_card_ranking {
        font-size: clamp(0.5em, 1.1vw, 0.8em);
    }
}


/*** TIENDA ***/
.titulo_shop {
    width: 25vw;
    min-width: 200px;
}

.cardShop {
    min-width: 22.5vw;
    height: 60vh;
    min-height: 100px;
    border-radius: 15px;
    overflow-y: hidden;
}

.card-innerShop {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    overflow-y: auto;
    height: 50vh;
    min-height: 80px;
    min-width: 22.5vw;
    border-radius: 15px;
}

.items {
    width: 4rem;
    min-width: 120px;
}

@media (min-width: 801px) and (max-width: 950px) {
    .items {
        width: 3.25rem;
        min-width: 100px;
    }
}

@media (min-width: 651px) and (max-width: 800px) {
    .items {
        width: 2.5rem;
        min-width: 80px;
    }
}

@media (max-width: 650px) {
    .items {
        width: 2rem;
        min-width: 50px;
    }
}


@media (min-width: 2000px) {
    .items {
        width: 8rem;
        min-width: 250px;
    }

    .titulo_card_ranking {
        font-size: clamp(2em, 3vw, 2em);
    }

    .titulo_card_info {
        font-family: 'jackpot', sans-serif;
        font-size: clamp(2.2em, 5.2vw, 2.2em);
        padding-top: 2em;
        text-align: center;
        line-height: 1.75;
    }

    .texto_info {
        padding: 20px;
        font-family: 'turtles', sans-serif;
        font-size: clamp(2em, 4vh, 2em);
    }

    .texto_ranking {
        font-family: 'turtles', sans-serif;
        font-size: clamp(1.5em, 3vh, 2em);
        padding-bottom: 5px;
        white-space: break-spaces;
    }

    .titulo_card_users, .titulo_card_friends, .titulo_card_chat {
        font-size: clamp(1.5em, 4vh, 1.7em);
    }

    .texto_users, .texto_friends, .mensaje-contenido{
        font-size: clamp(1.3em, 3.5vh, 1.8em);
    }

    .btn-custom, .boton_cerrar {
        font-size: clamp(1em, 2vh, 1em);
    }
}

@media (min-width: 1700px) and (max-width: 2000px) {
    .items {
        width: 6rem;
        min-width: 150px;
    }

    .titulo_card_ranking {

        font-size: clamp(1.5em, 3vw, 1.5em);

    }

    .titulo_card_info {
        font-family: 'jackpot', sans-serif;
        font-size: clamp(2em, 3.2vh, 2em) !important;
        padding-top: 2em;
        text-align: center;
        line-height: 1.75;
    }

    .texto_info {
        padding: 20px;
        font-family: 'turtles', sans-serif;
        font-size: clamp(1.5em, 2.8vh, 1.5em) !important;
    }

    .texto_ranking {
        font-family: 'turtles', sans-serif;
        font-size: clamp(1em, 3vh, 1.5em);
        padding-bottom: 5px;
        white-space: break-spaces;
    }

    .titulo_card_users, .titulo_card_friends, .titulo_card_chat {
        font-size: clamp(1.2em, 4vh, 1.7em);
    }
}

.btnComprar, .botonCerrarSesion {
    width: 90%;
    padding: 10px 30px;
    cursor: pointer;
    margin-bottom: 15px;
    outline: none;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    background-color: lightgreen;
    text-align: center;
    transition: transform 0.3s ease;
    font-family: 'turtles', sans-serif;
    font-size: clamp(0.75em, 3vh, 4em);
}

.botonCerrarSesion {
    font-size: clamp(0.5em, 2.5vh, 3em) !important;
}

.monedaShop {
    width: 2.5vw;
    min-width: 20px;
}

.contadorMonedas {
    font-family: 'turtles', sans-serif;
    font-size: clamp(1.75em, 5vw, 2em);
    gap: 5px;
    position: absolute;
    right: 20px;
    top: 25px;
}

.contadorMonedas img {
    width: 6vw;
    max-width: 70px;
    min-width: 40px;
}

/*PASE BATALLA*/
.card-inner-battlePass {
    width: 45vw;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    overflow-y: auto;
    height: 50vh;
    min-height: 100px;
    border-radius: 15px;
}

#boton_reclamar {
    max-width: 10vw;
    min-width: 10vw;
}

/*** PERFIL ***/
.cardPerfil {
    height: 70vh;
    min-height: 100px;
    min-width: 30vw;
    border-radius: 15px;
    overflow-y: hidden;
    font-family: 'turtles', sans-serif;
    font-size: clamp(1em, 3vh, 1.25em);
}

.txtDatosPerfil {
    font-size: clamp(1em, 3.5vh, 3em);
}

.parrafoPerfil {
    font-size: clamp(0.7em, 2.5vh, 2em);
}

/* Estilo base para la imagen */
.avatar-img {
    width: 6em;
    height: 6em;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza el movimiento y la sombra */
}

.avatar-container {
    margin-top: 1em;
    transition: all 0.3s ease, height 0.3s ease;
}

/* Efecto al pasar el ratón sobre la imagen */
.avatar-container:hover .avatar-img {
    transform: scale(1.1); /* Agranda ligeramente la imagen */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Agrega una sombra para resaltar la imagen */
}

/* Efecto al pasar el ratón sobre el contenedor (para hacer visible el botón) */
.avatar-container:hover .avatar-input {
    opacity: 0.5; /* Hace el botón parcialmente visible */
}

.avatar-container:hover .avatar-input {
    opacity: 1; /* Hace el botón completamente visible */
}

@media (max-width: 992px) {
    .cardRanking {
        min-width: 35vw;
        max-width: 35vw;
    }

    .card-inner-ranking {
        min-width: 35vw;
        max-width: 35vw;
    }
}