/*** LOGIN Y REGISTER ***/
.formulariocaja {
    background-color: rgba(0, 0, 0, .5);
    width: 25vw;
    min-width: 300px;
    max-height: 60vh;
    min-height: 100px;
    position: relative;
    margin: auto;
    border-radius: 15px;
    color: white;
    font-family: 'turtles', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.form-inner {
    color: white;
    overflow-y: auto;
    width: 25vw;
    max-height: 60vh;
    min-width: 300px;
    border-radius: 15px;
}

.completeData {
    min-height: 100px;
    height: 41vh;
    max-height: 60vh;
}

input {
    display: block;
    text-align: left;
    box-sizing: border-box;
}

.cajaentradatexto {
    width: 100% !important;
    min-width: 270px;
    padding: 10px;
    font-size: clamp(1em, 4vh, 1.25em);
    border-radius: 5px;
    border: 2px solid black;
    color: black;
}

.opcionentradatexto {
    min-width: 230px;
    width: calc(100% - 20px);
    padding: 10px;
    font-size: clamp(0.75em, 3.5vh, 1em);
    border-radius: 5px;
    color: black;
    cursor: pointer;
    overflow-x: hidden !important;
}

.busquedapaises {
    min-width: 230px;
    width: calc(100% - 20px);
    padding: 10px;
    font-size: clamp(0.75em, 3.5vh, 1em);
    border-radius: 5px;
    color: black;
    border: 2px black solid;
}

.dropdown-menu {
    height: 50vh;
    width: 100%;
    min-width: 250px;
    max-height: 400px;
    overflow-y: auto;
}

.dropdown {
    width: 100%;
    min-width: 200px;
}

.bandera {
    width: 30px;
    height: 22px;
    margin-left: 20px;
}

.opcionentradatexto:hover {
    background-color: lightgreen;
    color: black;
    border: 2px solid black;
}

.busquedapaises:hover {
    color: black;
    border: 2px solid black;
}

.formtitulo {
    font-size: 2em;
    padding-bottom: 0.8em;
    color: white;
}

.but_abrir_login,
.but_abrir_registro {
    text-decoration: none;
    cursor: pointer;
    color: lightgreen;
}

.afcheckbox1 {
    margin-bottom: 0.5vh;
    margin-top: 0.25vh;
    margin-left: 0.5vw;
}

.checkbox {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    margin-top: 7px;
}

.botonenviar {
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 16px;
    color: black;
    background-color: lightgreen;
    text-align: center;
    transition: transform 0.3s ease;
}

.google {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #DB4437;
}

.textoscajas {
    display: flex;
    align-items: start;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: white;
}

.registrar {
    margin: 2vh;
}

.txtFaltanDatos {
    font-size: clamp(0.25em, 1.25vw, 0.85em);
    visibility: hidden;
    color: red;
    display: flex;
    align-items: start;
    margin-left: 1vh;
}

.error {
    border: 2px solid red;
}